@font-face {
    font-family: summit;
    src: url('chrome-extension://__MSG_@@extension_id__/resources/SummitLight-Display.ttf'), url(../resources/SummitLight-Display.ttf);    
}

.censor-menu{
    padding: .25em 0;
    opacity:.50;
    background-color: dimgrey;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    font-size:30px;
    font-family: summit;  
    color: white;  
}

.censor-icon{
    z-index:1000;
    max-width: 5%;
    opacity:0.2;
    height: auto;
    float: right;
    position: fixed;
    top: 90%;
    right: 1em;
}

.censor-save-button{
    z-index:1000;
    max-width: 45%;
    opacity:.7; 
    /*animation: aerial-maneuver 4s;
}

@keyframes aerial-maneuver {
    0%  {-webkit-transform: rotate(0deg); }
    100% {-webkit-transform: rotate(360deg); float: right;}   
}

.censor-icon:hover,
.censor-save-button,
.censor-nuke-button{
    opacity:1;
}

#censor-kitty-photo{
    max-width: 500px;
    height: auto;
}

.censor-input-left,
.censor-input-right{
    outline: none;
    border: 0px none;
    background: transparent;
    font: inherit;
    font-size:30px;
    width: 70%;         
    color: black;  
}